@charset "UTF-8";

@import url('ui-lightness/jquery-ui-1-8-21-custom.css'); 

/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{margin:.67em 0}h2{margin:.83em 0}h3{margin:1em 0}h4{margin:1.33em 0}h5{margin:1.67em 0}h6{margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


html {
	overflow-y: scroll;
	background: url(../res/bg6.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

body {
	font-family: Georgia, Palatino,'Palatino Linotype',serif;
	font-size: medium; 
	line-height: 140%; 
	background-color: white; 
	color: black; 
	margin: 0 auto; 
	border-width: 0 1px; 
	border-style: solid; 
	border-color: black; 
	}

header {
	padding-top: 2em; 
	}
header h1 {
	margin: 4px 0 0 0; 
	border-bottom: 2px solid black; 
	}
header h1 a {
	color: black; 
	display: block; 
	text-decoration: none; 
	font-weight: normal; 
	font-size: x-large; 
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	letter-spacing: 0;
	border-bottom: 1px solid black; 
	margin-bottom: 2px; 
	padding-bottom: 8px; 
	padding-left: 0.5em; 
	
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJIAAAATCAYAAAB7l1TzAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AcQEyEWLTpA4AAAB8lJREFUaN7tWl1IFG8X/7nrZrprrquWpmjWJkpWUrmCN2VXsSERIVRIFyUEQV0UdVFdhBBaXYT0QdaFFKgUdVGmfWhJpRcWahr5kUtoqVFRuaW76+6s53/xZ+adZ2ZndnbbXuPlPTCwzzlnno95fs855zlnAYCkT05ODokpJydHpiMmNdl80J+aT6T6DbWfRYsWMfo+n4+IiJqamhj+ixcviIjI6/Uy/ISEBE3jS/lut1vzGnQIQCMjI5iengYA/Pr1CyMjIwiHoqKimOf/FB5lZWUxbbfbDQAYHBxk+Hybl/OUmZkZ1rhTU1OadQMCiYjQ29sLAOjt7cW/AFQmImKe/1War3VKgcADZWhoiOEPDAxoApLWdagBSdqHTkmxp6cHANDd3f3HLM/Tp09RWlqKxYsXY8GCBUhNTcX27dvR0dEh0/V4PKipqcH69ethNpuRmJgIm82Gy5cvg+M41XG+fPmC/fv3Y8mSJTAajSgsLERDQ4PqGjiOw/Hjx5GWlqZpnW63G5WVlcjPz4fRaERycjKKi4tx9epVzM3Nqc7v27dv2LVrF0wmE5KTk7Fv3z5mE5UskhRIShZJ+r7W/frx4wcAwG63C7o2m02xDwr07Nmzh4iIysvLA8qD+Vylfnn5nTt3FOV6vZ5u3bol9O90OqmoqEhRv6SkhDwej+J8srKyAr534cIFxXcqKiqCxhA8uVwuKigoUJzf1q1bye/3K/azYcMGGW/nzp2CfnV1NSMbHBwkIiKLxcLwMzMziYhoYGCA4VdXV4cVI7W0tJDD4aCoqCiBd/36daX9Dbz4VatWERFRXl7eHwFScXGxqo7VahX6P3r0qKouADp79qzifJSe3NxcTe8E24DKysqgY9XW1oY0P3GA3NjYyMh6enro8+fPsneioqJoenqauru7GX5DQ0NYQKqvr6fDhw8L7ZSUFOHABg224+PjBbP59etXDA8PC7xQ4wklvyr25zw1NzfD6/Wiq6sLADA2NsbIxPTo0SPMzs7i3r17Au/u3buKc6mrq4Pb7Za5s/Hx8YjEME1NTUzb4XDIAuHbt29DLYxob29nePxlRylGkro1/vsODg7C4/GoujatNDk5ibq6OqFdUVGBmJgY5T1XMrPnzp1TNL3hIFxM0dHRjMzr9RIR0dzcnEw/Pj6e0eU4joiI/H6/wEtOTlYc1+VyERHRzMwMe4p0OsV3ioqKqKuri6anp4OuR+piAumnpqYq9sNxnOzKLu5nfHyc4be1tVFtbW1AS3bjxg1qa2tjeB8/fgxrv6xWKxNujI2Nab/+5+bmCr+vXbsm40WKkpKSmHZ9fb0QxElvE+LTCQB6vf7fK6fuP9P/+fOn4lixsbEAgLi4OIavFgRfuXIFNpsNRqMx6FqcTmfAYFbrDUiv18NgMCjK09LSGLnH42EsXnZ2NnNzEwfb0dHRWLp0aVh75HA4hN+lpaWqaQRVIL179+6PAWnjxo1Me+/evTh48GBAQKhdUXnQzc7ORnR+VqtVs67f7w+qI3U3oZBOp0NGRoaia7Pb7czNTQykjIwM5sCFS2VlZaHlkaxWK6KjoxlEh/JRtVJVVRVzUogIFy9eRF5eHlpbW+c9Z8Rbsb+FxNbA7XYzFkkMJKlFCjcZKaVgaaCAwbZ4g9PT02EymSL+YZYvX46XL19i8+bNsgDPbrfj8ePH87pxvPuMROIyEglMccD8/ft3fPjwAQBgMBhQUlIizPf9+/eMq40UkFpaWkIDUlxcHDN4ZmamLLaIFKWnp6OtrQ2XLl1ixuA4DlVVVSGVYcRW9G+hSJaIxHvy+vVrAZjZ2dmIjY3FsmXLBDfb19f32zc2AFixYoXwe2hoCKOjo38nkPiPfeDAAZk7E38MLdZB7Vr6N1iv341TxIDgy1cAsHLlSgBATk6OrCrxuxapvLxcs1X6rwJJbN51Op1wQwOAwsJCxTxKQkICI/P5fDKdxMTEeQOS9GY3NzcHr9fL8NTCA47jhDWJD5iSRRLn4HgA8YACgLdv30YESKtXr0ZBQcH8A0nqboaHhwXg8EnOzs5O+Hw+WULObDbLTp00wdjY2Cjw8vPz5w1IYhcAAP39/Xj27BnDk65BTK9evZIFs9JgX2yRxKDj+xVfiMQg/h3XlpSUxATy7e3tqrdjJrH06dMnun//vtBubm6mycnJsBKSZrNZseSgVjsDQFu2bBH6OX36dNCSws2bNzUlQsNJngbT0TK/mpqakEok0v+EuVyugHqtra1ERPTgwYOAcnFCNdRv0NfXR52dnQzv4cOH2mptTqeT+vv7hfabN29oamoqrM2x2+2qRVtxMVCacX7y5InQz8zMDK1Zs0bxo5eVlWn+49ifAJLL5VI9GJs2bRIy94H6sdlsMt7Jkydl46ekpMj0RkdHiYjI4XDIZBaLJaR1SPnj4+Pk9/uZzP2hQ4e0Acnn8zHAcTqdqul7tYlNTEzQtm3byGKxkF6vl8k7Ojpox44dlJaWRgaDgSwWC9ntdnr+/Lls8U6nk06cOEF5eXlkMpnIaDTS2rVr6fz580xlfT6AxIPpzJkztG7dOjKZTLRw4ULKzc2lU6dOyf5pKO1nYmKCjhw5QmazmVJSUujYsWNCGUhM0lJVTEyMsHaO48hgMDDygoKC3wISX1ravXu3rJgu1f0HGiib/UCcadQAAAAASUVORK5CYII=');
	background-repeat: no-repeat; 
	background-position: 0.5em 0; 
	height: 20px; 
	text-indent: -999em; 
	overflow: hidden; 
	
	}
header span.ft {
	visibility: hidden;
	}
	
header .tex1 { font-family:cmr10, LMRoman10-Regular,serif; }
header .tex2 { vertical-align:-0.5ex; margin-left:-0.1667em; margin-right:-0.425em; }

header nav {
	font-size: large; 
	}
header ul {
	list-style-type: none; 
	padding-left: 0.75em;
	}
header li {
	margin-bottom: 0.25em; 
	}
header li a {
	text-transform: lowercase;
	text-align: left; 
	display: block; 
	text-decoration: none; 
	color: black; 
	width: 85%;
	padding: 0 0.25em 0 0.5em; 
	font-size: large; 
	line-height: 2em; 
	white-space: pre; 

	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;  
	}
header li a:hover {
	background-color: silver; 
	color: white; 
	}
header li a:hover:after {
	content: "  ‣";
	}



.body  {
	background-color: transparent; 
	position: relative; 
	padding-top: 2em; 
	margin-left: 3px;
	margin-bottom: 2em;
	}

.page_nav {
	}
.page_nav ul {
	margin: 0; 
	padding: 0; 
	display: block; 
	}
.page_nav li {
	display: block; 
	margin-bottom: 0.5em;
	}
.page_nav a {
	width: 40px;
	display: block; 
	color: white; 
	text-decoration: none; 
	background-color: black;
	background-position: right 0;
	background-repeat: no-repeat;
	line-height: 40px;
	text-align: center; 
	font-size: xx-large; 
	}
.page_nav .editPage a { 
	font-size: xx-large; 
	}
.page_nav a:hover {
	color: lime; 
	}


.page {
	margin-top: 2em; 
	border-top: 1px solid black; 
	}
.page > p, 
.page > ul, 
.page > ol {
	padding-right: 3em; 
	}
.page .hr {
	border-top: 2px solid black; 
	margin-top: 2px; 
	}

.page h1, h2, h3, h4, h5, h6 {
	margin: 2em 0 1em 0;
	font-weight: normal; 
	}
.page h1, 
h2 {	font-size: x-large;  }
h3 {	font-size: large;  }
h4 {	font-size: medium;  }
h5 {	font-size: small;  }

.page h1, 
h2 {
	border-bottom: 1px solid black; 
	}

.page .lectures {
	padding: 0 1em 0 0; 
	}
.lecture {
	list-style-type: none; 
	position: relative; 
	padding-left: 140px; 
	padding-bottom: 1em; 
	
	}
.lecture h4 {
	padding-bottom: 1em; 
	margin-bottom: 0; 
	}
.lecture .pdf {
	position: absolute; 
	top: 0; 
	left: 0; 
	border-width: 2px 4px 4px 2px;
	border-style:  solid ;
	border-color: silver; 
	border-radius: 5px;
	display: block; 
	text-decoration: none; 
	}
.lecture .pdf img {
	display: block; 
	}
.lecture .pdf:hover {
	border-color: lime; 
	}
.lecture .pdf span {
	position: absolute; 
	top: -0.5em; 
	right: -1em; 
	padding: 1px 2px;
	width: 3em; 
	line-height: 1.2em;
	color: white; 
	text-align: center; 
	font-family: sans-serif; 
	font-weight: bold; 
	font-size: x-small;
	text-transform: uppercase; 
	display: block; 

	background-color: lime; 
	background-image: -webkit-gradient(linear,  left top, left bottom, from(rgb(0,255,0)), to(rgb(155,255,155)));
	background-image: -webkit-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	background-image: -moz-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	background-image: linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;  
	}
.lecture .pdf:hover span {
	background-image: none; 
	}

.edit {
 	font-weight: bold;
	font-family: sans-serif; 
	padding: 1px 5px; 
	margin-left: 1.5em; 
	color: white; 
	font-size: small; 
	text-decoration: none; 
	text-transform: uppercase; 
	white-space: nowrap; 

	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	background-color: lime; 
	background-image: -webkit-gradient(linear,  left top, left bottom, from(rgb(0,255,0)), to(rgb(155,255,155)));
	background-image: -webkit-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	background-image: -moz-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	background-image: linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	
	text-shadow: 1px 1px 0px rgb(0,150,0); 
	box-shadow: 1px 1px 1px 1px rgba(0, 220, 0, 0.5); 
	}
.edit:hover {
	background-image: none; 
	box-shadow: 1px 1px 1px 1px rgba(0, 200, 0, 1); 
	}
.edit:active {
	color: black; 
	}
.lecture .moreButton {
	font-size: small; 
	}
.lecture .more .changed {
	margin-top: 0; 
	}

.openDialog:before {
	content: "‣  ";
	}

.dialogMessage ol {
	padding-left: 0; 
	}
.dialogMessage li { 
	clear: both; 
	overflow: hidden; 
	padding: 0.5em 0.5em;
	font-weight: bold; 
	list-style-position: inside;
	border-bottom: 1px solid silver; 
	}
.dialogMessage .pdf {
	padding: 3px 6px;
	margin-left: 1em; 
	width: 3em; 
	line-height: 1.2em;
	color: white; 
	text-align: center; 
	font-family: sans-serif; 
	font-weight: bold; 
	font-size: x-small;
	text-transform: uppercase; 
	text-decoration: none; 

	background-color: lime; 
	background-image: -webkit-gradient(linear,  left top, left bottom, from(rgb(0,255,0)), to(rgb(155,255,155)));
	background-image: -webkit-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	background-image: -moz-linear-gradient(top, rgb(0,255,0), rgb(155,255,155));
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	}
.dialogMessage .pdf:hover {
	text-decoration: underline; 
	}
.dialogMessage li:hover {
	background-color: #E5E5E5; 
	}
.dialogMessage .edit {
	float: right; 
	line-height: 1.5em; 
	}

.latexhtml .l1 	{ text-transform: uppercase; font-family:cmr10, LMRoman10-Regular, Times, serif; white-space: nowrap; font-size: 1.18em; }
header .l1 	{ font-size: 1.28em; } 
.latexhtml .l2 	{ text-transform: uppercase; font-size: 70%; margin-left: -0.36em; vertical-align: 0.3em; line-height: 0; margin-right: -0.15em; }
.latexhtml .l3 	{ text-transform: uppercase; margin-left: -0.1667em; vertical-align: -0.5ex; line-height: 0; margin-right: -0.125em; }


/* recentChanges // Wiki-History +++++++++++++ */
#recentChanges {
	list-style-type: none; 
	padding: 0; 
	}
#recentChanges > li {
	padding: 1em 0;
	border-bottom: 1px solid silver; 
	margin-bottom: 1em; 
	}
#recentChanges > li > table {
	width: 100%; 
	}
#recentChanges > li > table > tbody > tr:hover  {
	background-color: rgba(0,255,0,0.15); 
	}
#recentChanges th, 
#recentChanges td {
	text-align: left; 
	vertical-align: top; 
	padding: 0.25em 3em 0.25em 0.5em;
	}
#recentChanges tr:first-child td {
	font-weight: bold; 
	}
#recentChanges ul, 
#recentChanges p {
	margin: 0; 
	}
#recentChanges ul {
	padding-left: 1em; 
	}


footer {
	position: relative; 
	border-top: 1px solid black; 
	clear: both; 
	padding: 0; 
	}
footer .hr {
	border-top: 2px solid black; 
	margin-top: 2px; 
	}
footer .hr.hr2 {
	border-top: none; 
	}
footer ul {
	margin: 0.5em 0; 
	padding: 0; 
	}
footer li {
	float: left; 
	margin-left: 2em; 
	list-style-type: none; 
	}
footer li.last {
	float: right; 
	margin-right: 1em; 
	}
.hr {
	clear: both; 
	}
.hr hr {	
	display: none; 
	}





/* reset jquery-ui:  --------------- */
body .ui-dialog { padding: 0; border-radius: 0; border: none; }
body .ui-widget { font-family: serif; font-size: 1em;  }
body .ui-widget-content { background-image: none; background-color: white; }
body .ui-widget-header { background-image: none; background-color: lime; border-radius: 0; border: none; }
body .ui-dialog-content { background-color: white; }
body .ui-widget-content a.edit { color: white; }
body .ui-widget-overlay { background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJUlEQVQYlWNgYGAwJgITVkBIEQOxJuFUhC5OUAHp1uHTQFCBMQC7qg7y2NYyGgAAAABJRU5ErkJggg==); }








/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 650px) {

	body {
		width: 90%; 
		min-width: 0;
		}
	header {
		position: relative; 
		}
	header h1 {
		width: auto; 
		position: relative; 
		}
	header nav {
		overflow: auto;
		width: auto;
		position: relative; 
		margin-top: 0em; 
		padding-bottom: 0em;
		}
	.body {
		width: auto; 
		float: none; 
		}
	.page_nav {
		border-top: 2px solid black; 
		position: relative; 
		margin: 0 0.5em; 	
		top: 0; 
		right: 0;
		}
	.page_nav ul {
		position: relative; 
		}
	.page_nav a {
		float: left; 
		margin: 0 0.25em 0.25em 0.5em; 
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		}
	.page {
		border-top: none; 
		}
	footer {
		margin-left: 0;
		}

}


/* Standard Desktop View --------------- */
@media only screen and (min-width: 650px) {
	body {
		width: 70%; 
		min-width: 600px;
		max-width: 75em; 
		}
	header {
		position: absolute; 
		}
	header h1 {
		width: 17%; 
		position: fixed; 
		}
	header nav {
		overflow: hidden;
		width: 17%;
		position: fixed; 
		margin-top: 3em; 
		padding-bottom: 100px;
		}
	.body {
		width: 74%; 
		float: right; 
		}
	.page_nav {
		position: absolute; 	
		top: 4.2em; 
		right: 0em;
		}
	.page_nav ul {
		position: fixed; 
		}
	.page_nav a {
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;

		-webkit-box-shadow: 2px 1px 7px rgba(255, 255, 255, 0.65);
		-moz-box-shadow: 2px 1px 7px rgba(255, 255, 255, 0.65); 
		box-shadow: 2px 1px 7px rgba(255, 255, 255, 0.65); 
		}
	.page {
		}
	footer {
		margin-left: 26%;
		}
}


