@import url('css/screen.css');

ol#recentChanges li {
	border: 1px solid black;
	margin: 1ex;
	list-style-type:none;
}
ol#recentChanges li th {
	text-align:right;
	vertical-align:top;
}
ol#recentChanges li p {
	border: 0px;
	margin: 0ex;
}
ol#recentChanges li li {
	border: 0px;
	margin: 0ex;
	list-style-type:circle;
}

