body {
	background-color: #DDD;
	margin:0px;
	padding:0px;
}

div.content {
	margin: 10px 180px 10px 180px;
	padding: 4px;
	border: 1px solid black;
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans
}

div.menu {
	position: fixed;
	width:160px;
	top:10px;
	left:10px;
	border: 1px solid black;
	background-color:white;
	font-family: sans;
}

/* IE only: */
* html div.menu { position: absolute }

div.menu ul {
	margin: 0px;
	padding:0px;
}

div.menu li {
	list-style: none;
	margin: 2px;
	padding:0px;
	border: 1px solid;
	border-color:black;
	text-align: center;
}

div.menu li a {
	text-decoration: none;
	display:block;
	padding: 0.25em 1em;
}
div.menu li a:link { color: black; }
div.menu li a:visited { color: gray; }

ol#recentChanges li {
	border: 1px solid black;
	margin: 1ex;
	list-style-type:none;
}
ol#recentChanges li th {
	text-align:right;
	vertical-align:top;
}
ol#recentChanges li p {
	border: 0px;
	margin: 0ex;
}
ol#recentChanges li li {
	border: 0px;
	margin: 0ex;
	list-style-type:circle;
}
