/* toc.js css */
.tocLink > a {
	position: relative; 
	}

.tocLink > a ul, 
.tocLink > a ul * {
	position: relative; 
	width: auto; 
	height: auto; 
	line-height: 1.3em; 
	font-size: small;
	box-shadow: none; 
	z-index: 999;
	display: block; 
	}	

.tocLink > a ul {
	top: 0px;
	right: 52px;
	position: absolute;
	border-radius: 5px 0 0 5px; 
	background: rgba(0,0,0,0.75);
	border: 0px solid lime; 
	margin: 0;
	padding: 7px 20px 7px 7px; 
	list-style: none;
	}

.tocLink > a ul li {
	margin: 0.45em 0;
	padding: 0;
	}

.tocLink > a ul a {
	display: list-item; 
	list-style: disc inside none; 
	background-color: transparent;
	color: white; 
	border-radius: 0; 
	text-align: left; 
	white-space: nowrap; 
	max-width: 18em; 
	overflow: hidden;
	text-overflow: ellipsis;
	}
.tocLink > a ul a:hover {
	color: lime;
	}

